# RStudio / R session
.Rproj.user
.Rhistory
.RData
.Ruserdata

# OS related
.DS_Store
Thumbs.db

# Build/check artifacts
*.Rcheck/
*.tar.gz


# Ignore all CSVs
/data-example/raw/*.csv

# except sensor meta data:
!/data-example/raw/sensors.csv
